<body>
  <img src="../assets/images/univers.jpg" />

  <div class="content" role="main">
    <div
      style="
        position: absolute;
        top: 40px;
        left: 525px;
        width: 600px;
        height: 400px;
        z-index: 2;
        font-size: 200%;
        color: rgb(246, 251, 252);
      "
    >
      <h1>Universes</h1>
    </div>
    <div
      style="
        position: absolute;
        top: 120px;
        left: 230px;
        width: 600px;
        height: 200px;
        z-index: 2;
        font-size: 200%;
        color: rgb(246, 251, 252);
      "
    >
      <h5>Choose your universe :</h5>
    </div>

    <div
      class="card"
      style="position: absolute; top: 200px; left: 150px; width: 200px"
    >
      <img
        class="card-img-top"
        src="../assets/images/starwars.png"
        height="150px"
        alt="Card image"
      />
      <div class="card-body">
        <h6 class="card-title">Star Wars</h6>
        <p class="card-text">Description :</p>
        <p>-------</p>
        <a href="#" class="btn btn-outline-primary">See Universe</a>
      </div>
    </div>

    <div
      class="card"
      style="position: absolute; top: 200px; left: 525px; width: 200px"
    >
      <img
        class="card-img-top"
        src="../assets/images/seigneur_des_anneaux.jpg"
        height="150px"
        alt="Card image"
      />
      <div class="card-body">
        <h6 class="card-title">Lord of the Rings</h6>
        <p class="card-text">Description :</p>
        <p>-------</p>
        <a href="#" class="btn btn-outline-primary">See Universe</a>
      </div>
    </div>

    <div
      class="card"
      style="position: absolute; top: 200px; left: 900px; width: 200px"
    >
      <img
        class="card-img-top"
        src="../assets/images/got1.jpg"
        height="150px"
        alt="Card image"
      />
      <div class="card-body">
        <h6 class="card-title">Game of Thrones</h6>
        <p class="card-text">Description :</p>
        <p>-------</p>
        <a href="#" class="btn btn-outline-primary">See Universe</a>
      </div>
    </div>
  </div>
</body>
