*/target/
*/.project
*/.settings/
*/.project

*/HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
*/t3m-universe/.apt_generated
*/.classpath
*/.factorypath
*/.springBeans
*/.sts4-cache

### IntelliJ IDEA ###
*/.idea
*/*.iws
*/*.iml
*/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### node_modules
# universe-vue/node_modules